// Color variables (appears count calculates by raw css)
@color0: #333333; // Appears 2 times



.combo {
	border: 1px solid red;
	color: @color0;
	.marked {
		font-weight: bold;
	}
}
p {
	border: 1px solid red;
	color: @color0;
	font-size: 200px;
	.marked {
		font-weight: bold;
	}
}